@import "colors";

.contact{
    width: 100%;
    height: 100vh;
    background-color: $third;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >main{
        background-color: $second;
        height: 40rem;
        width: 70%;
        padding: 3rem;
        border-radius: 40px 40px 40px 40px;

        > form{
            margin: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            >div{
                height: 3rem;
                display: flex;
                justify-content: flex-end;
                margin: 0.5rem;
                width: 60%;
                align-items: center;
                
                >label{
                    font: 400 1.2rem $text1;
                    width: 20%;
                    margin: 0 1rem;

                }
                >input{
                    align-self: stretch;
                    border-radius: 5px;
                    border: 1px solid rgba(123, 123, 123, 0.6);
                    width: 80%;
                    padding: 1rem;
                    outline: none;
                }
            }
            >button{
                margin: 3rem 0;
                padding: 0.7rem;
                border-radius: 5px;
                background-color: $third;
                color: $second;
                width: 200px;
                font: 500 1rem $text1;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }

}